header{
    position: relative;
    z-index: 2;
}
.charlist-container {
    width: 100%;
    min-height: 900px;
    background-image: url(img/charlist-background.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
}

.charlist-itself {
    padding-top: 109px;
    padding-bottom: 49px;
}

.charlist-element {
    display: flex;
    justify-content: space-between;
    width: 796px;
    height: 140px;
    background: rgba(1, 0, 0, 0.75);
    border: 1px solid #FFFFFF;
    border-radius: 40px;
    margin-bottom: 60px;
    padding-left: 38px;
    padding-right: 64px;
    cursor: pointer;
    transition:0.3s !important;
}
.charlist-element:hover{
    box-shadow: 0px 0px 25px -1px rgba(255,255,255,1);
    transition:0.3s !important;
}
.charlist-element:hover img{
    transition:0.3s !important;
    transform: scale(1.4);
}
.charlist-element img {
    transition:0.3s !important;
    width: 90px;
    height: 90px;
    margin-top: 27px;
}
.badge-container{
    position: relative;
}
.charlist-text p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
}

.charlist-text-interval{
    margin-top: 35px;
    margin-bottom: 17px;
}
.charlist-new img{
    width: 45px;
    height: 40px;
    margin-top: 50px;
    margin-right: 70px;
    border: 0px solid rgba(255, 255, 255, 1);
}

.charlist-new p{
    margin-left: 70px;
    margin-top: 60px;
}
.charlist-new:hover .charlist img{
    border: 1px solid rgba(255, 255, 255, 1);
}
.acc-svg-container{
    position: relative;
    margin-top: 10px;
    margin-left: 190px;
}

.user_info_display{
    display: none;
    opacity: 0;
}

.user_info_window{
    z-index: 1;
    transition: 1s !important;
    opacity: 1;
    position: absolute;
    left: -150px;
    top: 100px;

    width: 300px;
    height: 204px;

    background: url("img/user_info_img.png");
    box-shadow: 0px 4px 17px 17px rgba(0, 0, 0, 0.6);

    border-radius: 25px;
    
}


.user_info_window_text{
    position: relative;
    height: 46px;
    left: 30%;
    right: 20.8%;
    
    top: 50%;
    /* top: calc(50% - 46px/2 - 60px); */

    font-family: 'Zen Kaku Gothic Antique';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 55px;
    /* or 367% */

    letter-spacing: 1.65px;

    color: #FFFFFF;

}

.user_info_window_button{
    cursor: pointer;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 10%;

    width: 50%;

    background: rgb(199, 24, 24);
 
    border-radius: 5px;

    text-align: center;
    color: #FFFFFF;
    transition: 0.3s;
}
.user_info_window_button:hover{
    background: rgb(97, 15, 15);
}