body{
  background-color: aqua;
}

.character-stats-prof-list-element{
  display: flex;
}
.character-stats-prof-list-element p{
  margin-left: 17px;
  margin-top: -9px;
  font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 55px;
/* identical to box height, or 367% */

letter-spacing: 1.65px;

color: #FFFFFF;
}
.character-stats-prof-list-element input[type="checkbox"] {
  appearance: none;
  position: relative;
}
.character-stats-check{
  margin-right: 17px;
  background-color: white;
  height: 30px;
  width: 30px;
  transition: 0.8s ease-in;
  cursor: pointer;
}
.regular-throw:checked {
  transform: rotate(360deg);
}
.save-throw{
  transform: rotate(45deg);
}
.save-throw:checked{
  transform: rotate(405deg);
}
.character-stats-prof-list-element input[type="checkbox"]:checked{
  background-color: red;
  transition: 0.8s ease-in;
}

.input-level {
  margin-top: -1px;
  margin-left:10px ;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  /* identical to box height, or 133% */
  background: #000000;
  border: 1px solid #EEEEEE;
  border-radius: 5px;
  width: 64px;
  height: 40px;
  padding-left: 8px;
  transition: 0.3s;
  color: white;
}

.input-level:focus {
  transition: 0.3s;
  background: #EEEEEE;
  color: black;
}